 <!-- END CHANGEABLE CONTENT. -->
  </main>
  <footer container class="siteFooter">
    <p class="float--left">Designed by: <a href="">DEV-TEC</a></p>
    <p class="float--right">Members: <a href="index.php">Tanya Williams</a> | <a href="index.php">Costa Ludmila</a> | <a href="index.php">Asanda Mahlungulu</a> | <a href="index.php">Thabo Moopa</a></p>

    <!--<?php date_default_timezone_set('Africa/Johannesburg'); 
    print date('H:i a l F j'); ?></p>-->
  </footer>

</body>
</html>
<?php
//Send output to the buffer and turn off  output buffering
ob_end_flush(); 
?>