 <!-- END CHANGEABLE CONTENT. -->
  </main>
  <footer container class="siteFooter">
    <div container>
    	<div row>
    	<div column="6"><p class="text--error">Head Developer: <a href="#">Thabo Moopa 214002497</a></p></div>
    	<div column="6"><p class="text--error">Web Designer: <a href="#">Ntsako Mboweni 211230235</a></p></div> 
    	</div>
    <div row>
    <div column="12">
    <p>Design uses <a href="http://concisecss.com/">Concise CSS Framework</a></p> </div>
  </footer>

</body>
</html>
